@import url("fonts.css");
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,regular,700&display=swap");


.wrapper {
   overflow: hidden;
   min-height: 100%;
}
.container {
   max-width:600px ;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}
.text-block {
   font-family: "Poppins", sans-serif;
   font-size: 14px;
   font-weight: 400;
   color: #808080;
   line-height: 21px;
}
.info {
   line-height: 21px;
   margin-bottom: 20px;
}
.list{
   margin-bottom: 20px;
}
.item {
   margin-bottom: 14px;
   background-image:url("../img/Check.jpg");
   background-repeat: no-repeat;
   padding-left: 28px;
}











.block-3 {
   padding-top:90px ;
   padding-bottom: 90px;
}
.container-2 {
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
   max-width: 1308px;
}
.hydra-wrapper {
   border-radius: 90px;
background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
box-shadow: 0px 4px 4px 0px rgba(192, 183, 232, 0.01);
text-align: center;
padding: 26px;
font-family: "Montserrat",sans-serif;
color: #FFF;
}
.info-contact {
   display: inline-block;
   text-align: left;
   padding-right: 50px;
   padding-top: 26px;
   padding-bottom: 26px;
   max-width: 425px;
}
.hydra-wrapper > .info-contact {
   border-right: 1px solid rgba(192, 183, 232, 0.33);
}
.locacion {
   background: url("../img/Location-Icon.png") 0 50% /55px 55px no-repeat;
   min-height: 55px;
   padding-left: 84px;
}
.title {
   margin-bottom: 9px;
   font-size: 24px;
   font-weight: 700;
}
.info-locacion{
   font-size: 14px;
}
.info-number {
   font-size: 14px;
}
.hydra-wrapper > .info-contact ~ .info-contact {
   padding-left: 50px;
}
.info-phone {
   background: url("../img/phone-call.png") 0 50% / 55px 55px no-repeat;
   padding-left: 84px;
   min-height: 55px;
}
.hydra-wrapper > .info-contact ~ .info-contact + .info-contact {
   border-right: 0;
}
.info-mail {
   background: url("../img/mail.png") 0 50% / 55px 55px no-repeat;
   padding-left: 84px;
   min-height: 55px;
}























.block-3 {
   background-color: #302C42;
   font-family: "Montserrat", sans-serif;
   padding: 45px 0;
   color: #fff;
}

.container-3 {
   max-width: 1302px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
}
.info-2 {
   background: url("../img/Group\ 1.png") 0 center / contain no-repeat;
}
.text-info {
   display: inline-block;
   font-size: 16px;
   vertical-align: middle;
   max-width: 630px;
}
.image {
   border-radius: 43% 19%;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   background-color: #A3A3A3;
   margin-right: 108px;
   max-width: 524px; 
}

.title-2 {
   font-size: 36px;
   font-weight: 300;
   color: rgba(255, 255, 255, 0.95);
   line-height: 1.2;
   text-transform: uppercase;
   margin-bottom: 42px;
   max-width: 193px;
}
.strong {
   color: #FFF;
font-weight: 700;

}
.paragraf {
   width: 100%;
   margin-bottom: 28px;
   min-height: 100%;
   line-height: 1.5;
} 
.button {
   background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
   border-radius: 40px;
   color: #343045;
   font-size: 12px;
   font-weight: 700;
   line-height: 1.2;
   text-transform: uppercase;
   max-width: 214px;
   width: 100%;
   padding: 20px 40px;
   text-align: center;
}