@import url("fonts.css");
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:&display=swap");@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,700&display=swap");

body {
	background-color: #231F8B;
	padding: 50px 0px;
	margin-bottom: 70px;
}
.section {
	max-width: 1050px;
	margin: 0 auto;
	overflow: hidden;
	font-family: "Montserrat", sans-serif;
	padding: 0px 15px;
}
.sub-title{
   color: #5A54F2;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 10px;
	letter-spacing: 0.2px;
}
.title{
	color: white;
	font-family: "Circular Std", sans-serif;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 10px;
}
.info{
	font-family: "Circular Std", sans-serif;
	font-size: 14px;
	font-weight: 450;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: white;
	max-width: 765px;
	margin-bottom: 70px;
}
.cards {
	font-size: 0;
}
.cards-inner {
	margin: 0px -20px;
}
p{
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   letter-spacing: 0.2px;
}
h3{
	font-family: "Circular Std", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.1px;
}
.advantages-card{
	width: 25%;
	display: inline-block;
	vertical-align: top;
	padding: 0px 20px;}
.content {
	padding: 35px 40px;
	background-color: white;
}
.image {
	max-width: 72px;
	width: 100%;
	margin-bottom: 20px;
}
.card-title{
	color: #252b42;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.1px;
	margin-bottom: 20px;
}
.some-text{
	color: #737373;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: 0.2px;
}
.advantages-card-top{
	margin-top: 48px;
}
.advantages-card-top-dark .content{
	background-color:#5A54F2;
}
.advantages-card-top-dark * {
   color: white;
}
.line {
	display: inline-block;
	width: 50px;
	height: 2px;
	background-color: #e74040;
	margin-bottom: 20px;
}
.advantages-card-top-dark .line {
	background-color: white;
}
.section-0 {
	margin: 50px;
}
.blok {
	background-color: aqua;
	text-align: center;
	padding: 30px;
	max-width: 700px;
	margin: 0 auto;
}
.section-2 {
	margin: 50px
}
.block {
	background-color: rgba(145, 10, 33, 0.692);
	text-align: center;
	padding: 30px;
	max-width: 700px;
	margin: 0 auto;
}